{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    "macros", 
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "extensions": [".tsx", ".ts"],
        "root": ["./src"],
        "alias": {
          "pages/*": ["pages/*"],
          "assets/*": ["assets/*"],
          "stories/*": ["stories/*"],
          "components/*": ["components/*"]
        }
      }
    ],
    "babel-plugin-styled-components"
  ]
}